---
import type { GetStaticPaths } from "astro";
import Layout from "../../layouts/Layout.astro";
import { getTeamMembers } from "../../helpers/getTeam";
import { Image } from "astro:assets";
import Twitter from "../../assets/socials/x-twitter.svg";
import Linkedin from "../../assets/socials/linkedin.svg";

export const getStaticPaths = (async () => {
  const teamMembers = await getTeamMembers();

  return teamMembers.map((teamMember) => ({
    params: {
      teamMember: teamMember.slug,
    },
    props: { ...teamMember },
  }));
}) satisfies GetStaticPaths;

const { name, title, company, bio, linkedin, twitter, image } = Astro.props;

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <div class="main-container">
    <div class="media-socials-container">
      <a class="back-button" href="/about">Back</a>
      {image && <Image src={image} alt={name} width="250px" />}
      <div class="links">
        {
          linkedin && (
            <a target="_blank" href={linkedin}>
              <Linkedin width={20} />
            </a>
          )
        }
        {
          twitter && (
            <a target="_blank" href={twitter}>
              <Twitter width={24} />
            </a>
          )
        }
      </div>
    </div>
    <div class="info-container">
      <h2 class="name">{name}</h2>
      <p class="title">{title}</p>
      <p class="company">{company}</p>
      <p class="bio">{bio}</p>
    </div>
  </div>
</Layout>

<style lang="scss">
  .main-container {
    display: flex;
    gap: 40px;

    .media-socials-container {
      display: flex;
      flex-direction: column;

      img {
        border-radius: 50%;
      }

      .links {
        margin-top: 6px;
        display: flex;
        gap: 8px;

        a {
          background-color: #000000;
          border-radius: 50%;
          aspect-ratio: 1;
          width: 40px;

          display: flex;
          justify-content: center;
          align-items: center;

          svg {
            fill: #cddcf0;
          }
        }
      }

      .back-button {
        border-radius: 4px;
        width: max-content;
        background-color: #7ca4d6;
        padding: 4px 8px;
        color: white;
      }
    }

    .info-container {
      font-size: 16px;

      .name {
        font-size: 28px;
        font-weight: 100;
      }

      .title {
        margin: 2px 0 8px;
      }
      .company {
        margin-bottom: 12px;
      }
      .bio {
        font-size: 14px;
      }
    }
  }
</style>
