---
import type { GetStaticPaths } from "astro";
import Layout from "../../layouts/Layout.astro";
import { getTeamMembers } from "../../helpers/getTeam";
import { Image } from "astro:assets";
import SocialLink from "../../components/socialLink.astro";

export const getStaticPaths = (async () => {
  const teamMembers = await getTeamMembers();

  return teamMembers.map((teamMember) => ({
    params: {
      teamMember: teamMember.slug,
    },
    props: { ...teamMember },
  }));
}) satisfies GetStaticPaths;

const {
  name,
  title,
  company,
  bio,
  image,
  slug,
  linkedin,
  twitter,
  bluesky,
  facebook,
  github,
  instagram,
  website,
} = Astro.props;

const socialList = {
  linkedin,
  twitter,
  bluesky,
  facebook,
  github,
  instagram,
  website,
};

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <div class="main-container">
    <div class="media-socials-container">
      <a class="back-button" href="/about">Back</a>
      {image && <Image src={image} alt={name} width="500px" />}
      <div class="links">
        {
          Object.entries(socialList).map(([social, link]) => {
            return <SocialLink type={social} link={link} />;
          })
        }
      </div>
    </div>
    <div class="info-container">
      <h2 class="name">{name}</h2>
      <p class="title">{title}</p>
      <p class="company">{company}</p>
      <p class="bio">{bio}</p>
    </div>
  </div>
</Layout>

<style lang="scss">
  .main-container {
    display: flex;
    // flex-wrap: wrap;
    gap: 40px;

    .media-socials-container {
      display: flex;
      flex-direction: column;

      img {
        border-radius: 50%;
        width: 250px;
        height: 250px;
        object-fit: cover;
      }

      .links {
        margin-top: 6px;
        display: flex;
        gap: 8px;
      }

      .back-button {
        border-radius: 4px;
        width: max-content;
        background-color: #7ca4d6;
        padding: 4px 8px;
        color: white;
      }
    }

    .info-container {
      font-size: 16px;

      .name {
        font-size: 28px;
        font-weight: 100;
      }

      .title {
        margin: 2px 0 8px;
      }
      .company {
        margin-bottom: 12px;
      }
      .bio {
        font-size: 14px;
      }
    }
  }
</style>
