---
import Layout from "../layouts/Layout.astro";
import "@splidejs/splide/css";
import Title from "../components/title.astro";
import Member from "../components/memberCard.astro";
import Venue from "../components/venue.astro";

import Image1 from "../assets/past-events/image-1.png";
import Image2 from "../assets/past-events/image-2.png";
import Image3 from "../assets/past-events/image-3.png";
import Image4 from "../assets/past-events/image-4.png";
import Image5 from "../assets/past-events/image-5.png";

import { Image } from "astro:assets";

import { getTeamMembers } from "../helpers/getTeam";

const teamMembers = await getTeamMembers();
---

<style is:global>
  html {
    scroll-behavior: smooth;
  }

  body {
    height: auto;
  }

  * {
    scroll-margin-top: 100px;
  }
  .presentation .splide__pagination__page {
    width: 12px;
    height: 12px;
    background: #1e1e1e; /* Custom color */
    border-radius: 50%;
    opacity: 0.5;
    transition:
      transform 0.3s ease,
      opacity 0.3s ease;
  }

  .splide__pagination__page.is-active {
    background: #002366; /* Change color for active */
    opacity: 1;
    transform: scale(1.3);
  }

  .splide__arrows {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
    pointer-events: none; /* Ensures they don't interfere with image clicks */
  }
  .splide__arrow {
    background: none;
    pointer-events: auto; /* Allows clicking */
  }
  .splide__arrow svg {
    fill: var(--pink); /* Arrow color */
    font-size: 26px;
  }
  .splide__arrow--prev {
    left: -50px; /* Moves previous arrow outside */
  }
  .splide__arrow--next {
    right: -50px; /* Moves next arrow outside */
  }

  body {
    font-family: Montserrat, sans-serif;
  }
</style>

<Layout>
  <div class="card">
    <Title style="color: black" title="Organizing Team" id="team" />

    <div class="team-member-container">
      {teamMembers.map((member) => <Member {...member} />)}
    </div>
  </div>

  <!-- TODO - move to carousel component -->
  <Title
    title="Past Events"
    style="color: black; margin: 100px 0 0"
    id="past-events"
  />
  <div class="splide-container">
    <div class="splide">
      <div class="splide__track">
        <ul class="splide__list">
          <li class="splide__slide">
            <iframe
              id="yt-video"
              width="100%"
              height="100%"
              src="https://www.youtube.com/embed/gbcaCFO65Bo?si=_c-V6WTmXCb1ktut"
              title="YouTube video player"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              referrerpolicy="strict-origin-when-cross-origin"
              allowfullscreen></iframe>
          </li>
          <li class="splide__slide">
            <Image height={400} src={Image1} alt="Slide 2" />
          </li>
          <li class="splide__slide">
            <Image height={400} src={Image2} alt="Slide 3" />
          </li>
          <li class="splide__slide">
            <Image height={400} src={Image3} alt="Slide 4" />
          </li>
          <li class="splide__slide">
            <Image height={400} src={Image4} alt="Slide 5" />
          </li>
          <li class="splide__slide">
            <Image height={400} src={Image5} alt="Slide 6" />
          </li>
        </ul>
      </div>
    </div>

    <div class="card">
      <Venue />
      <footer>
        <div class="footer-content">
          <a class="header-link" href={"/coc"}>Code of conduct </a>
          <p>All rights reserved 2025</p>
        </div>
      </footer>
    </div>
  </div>

  <script>
    import Splide from "@splidejs/splide";

    document.addEventListener("DOMContentLoaded", () => {
      new Splide(".splide", {
        type: "loop",
        autoplay: true,
        interval: 3000,
        arrows: true,
        pagination: true,
        perPage: 2,
        perMove: 2,
        gap: "1rem",
        rewind: true,
        padding: { right: "20%" }, // Ensures the last item is half visible
        breakpoints: {
          768: {
            arrows: false,
            perPage: 1,
            padding: { right: "0%" },
          },
        },
      }).mount();
    });
  </script>
</Layout>

<style lang="scss">
  .team-member-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 32px 10px;
  }

  .splide-container {
    width: 100%;
    padding-top: 60px;
    padding-bottom: 100px;
    margin: auto;

    .splide__list {
      height: 250px;
    }

    .splide {
      position: relative;

      &::after {
        content: "";
        position: absolute;
        top: 0;
        right: -6px;
        width: 20px; /* Adjust as needed */
        height: 100%;
        background: linear-gradient(
          to left,
          white 50%,
          rgba(255, 255, 255, 0) 100%
        );
        pointer-events: none; /* Prevent interaction */
      }
    }

    img {
      height: 100%;
      max-width: 100%;
      object-fit: cover;
    }
  }

  footer {
    position: absolute;
    background-color: var(--orange);
    bottom: 0;
    right: 0;
    width: 100%;
    padding: 18px 0px;

    .footer-content {
      max-width: var(--max-container-width);

      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: auto;
      color: white;
    }
  }
</style>
