---
import Title from "./title.astro";
import Asterisk from "../assets/asterisk.svg";

import rs24Image from "../assets/reversim24-image.png";
import { getImage, Image } from "astro:assets";
import { getSponsors } from "../helpers/getSponsors";

const optimizedRS24ImageMobile = await getImage({
  src: rs24Image,
  width: 1280,
});
const optimizedRS24ImageDesktop = await getImage({
  src: rs24Image,
  width: 1920,
});

const organizingSponsor = await getSponsors("organizing");
const communitySponsors = await getSponsors("community");
const gameChangersSponsors = await getSponsors("game-changers");

const cssVars = `
.card-background {
    --optimizedRS24URLMobile: url(${optimizedRS24ImageMobile.src});
    --optimizedRS24URLDesktop: url(${optimizedRS24ImageDesktop.src})
    }`;
---

<script src="https://flackr.github.io/scroll-timeline/dist/scroll-timeline.js"
></script>
<script
  src="https://cdn.jsdelivr.net/npm/reversim-machine/dist/reversim-machine.umd.js"
></script>
<!--<script src="http://localhost:8080/dist/reversim-machine.umd.js"></script>-->
<script is:inline>
  const minMachineWidth = 1000;
  document.documentElement.style.setProperty(
    "--minMachineWidth",
    `${minMachineWidth}px`
  );
  let machineStarted = false;

  function startMachine() {
    ReversimMachine.init(document.querySelector("#machine"), {
      debug: false,
      browserTargetBoundingBox: document.getElementById("machine-stage"),
      frameTopLeft: { x: 0, y: 0 },
      frameBottomRight: { x: 1000, y: 1000 },
      onAirMachineStart: () => {
        const asterisk = document.querySelector(".asteriskContainer");
        if (asterisk) {
          asterisk.classList.add("spinning");
        }
      },
    });
    machineStarted = true;
  }

  document.addEventListener("DOMContentLoaded", async () => {
    if (window.innerWidth >= minMachineWidth) {
      startMachine();
    }
  });

  window.addEventListener("resize", () => {
    if (machineStarted && window.innerWidth < minMachineWidth) {
      ReversimMachine.destroy();
      machineStarted = false;
    } else if (!machineStarted && window.innerWidth >= minMachineWidth) {
      startMachine();
    }
  });
</script>

<div id="machine"></div>
<div class="main-banner">
  <div class="machine-layout">
    <div id="machine-stage"></div>
    <div class="hero-container">
      <div class="hero-content">
        <div class="title-container">
          <h2 class="title green">REVERSIM</h2>
          <h2 class="title orange">AUTUMN</h2>
          <h2 class="title blue">
            SUMMIT<p class="title pink asteriskContainer">
              <Asterisk class="asterisk" />
              <Asterisk class="asterisk" />
            </p>
          </h2>
        </div>
        <div class="event-date">
          <p>October 27-28, 2025</p>
        </div>
      </div>
      <div class="hero-btn-container">
        <a
          class="hero-btn speaker"
          target="_blank"
          href="https://sessionize.com/reversim-summit-2025/"
        >
          <button> Become a Speaker! </button>
          <div class="wave"></div>
        </a>
        <a
          class="hero-btn sponsor"
          target="_blank"
          href="https://forms.gle/QKgb1uESmPQxAVA39"
        >
          <button> Become a Sponsor! </button>
          <div class="wave"></div>
        </a>
      </div>
    </div>
  </div>

  <div class="sponsors card-background card">
    <div class="description-container">
      <p class="event-description" id="about">
        Reversim Summit 2025 (RS25) is a community driven event in Israel for
        software developers, product managers, data scientists and everyone else
        in the software industry. With an enthusiastic team of volunteers we've
        been creating a content-first software conferences since 2013 and
        successfully leading the market. Reversim Summit (RS) is not for profit
        and its sole purpose is to enrich the community with content and
        networking. We are grateful to have such an excellent top of the
        industry team of volunteer moderators and event organizers.
      </p>

      <Title
        type="sponsor-large"
        style="margin: 25px 0 24px"
        title="Organizing Sponsor"
        id="sponsors"
      />
      <div class="sponsors-container">
        {
          organizingSponsor.map((sponsor) => (
            <a href={`/sponsors/${sponsor.slug}`}>
              <Image
                class={`organizer sponsor-logo ${sponsor.slug}`}
                src={sponsor.companyNameLogo}
                width={400}
                height={1000}
                alt={`Sponsor ${sponsor.companyName}`}
              />
            </a>
          ))
        }
      </div>
      {
        gameChangersSponsors.length && (
          <>
            <Title
              type="sponsor-medium"
              style="margin: 36px 0 18px"
              title="Game Changers Sponsors"
              id="sponsors"
            />
            <div class="sponsors-container">
              {gameChangersSponsors.map((sponsor) => (
                <a href={`/sponsors/${sponsor.slug}`}>
                  <Image
                    class={`sponsor-logo ${sponsor.slug}`}
                    src={sponsor.companyNameLogo}
                    width={400}
                    height={1000}
                    alt={`Sponsor ${sponsor.companyName}`}
                  />
                </a>
              ))}
            </div>
          </>
        )
      }
      <!-- {
        communitySponsors.length && (
          <>
            <Title style="margin: 36px 0 18px" title="Community Sponsors" id="sponsors" />
            <div class="sponsors-container">
              {communitySponsors.map((sponsor) => (
                <a href={`/sponsors/${sponsor.slug}`}>
                  <Image
                    class={`sponsor-logo ${sponsor.slug}`}
                    src={sponsor.companyNameLogo}
                    width={400}
                    height={1000}
                    alt={`Sponsor ${sponsor.companyName}`}
                  />
                </a>
              ))}
            </div>
          </>
        )
      } -->
    </div>
  </div>
</div>

<style set:html={cssVars}></style>

<style is:global>
  #machine {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    aspect-ratio: 1.5;
    canvas {
      width: 100%;
      height: 100%;
    }
  }
</style>

<style lang="scss">
  .main-banner {
    .machine-layout {
      display: flex;
      align-items: center;
      justify-content: center;
      align-items: flex-start;
      view-timeline: --sponsorsReveal block;
      // margin: 0 12%;

      @media screen and (max-width: 1300px) {
        height: 600px;
      }

      #machine-stage {
        aspect-ratio: 1;
        height: 600px;

        @media screen and (max-width: 1300px) {
          height: 500px;
        }

        @media screen and (max-width: 1000px) {
          display: none;
        }
      }

      .hero-container {
        margin-left: 80px;
        padding-top: 75px;

        @media screen and (max-width: 1000px) {
          margin-left: 0;
        }
      }

      .asteriskContainer.spinning {
        animation: spin 6s linear infinite;
        @keyframes spin {
          from {
            transform: rotate(0deg);
          }
          to {
            transform: rotate(360deg);
          }
        }
      }
    }

    .hero-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      pointer-events: none;

      .title-container {
        font-size: 80px;
        font-weight: 700;
        .title {
          width: max-content;
          font-size: 1em;
          font-weight: inherit;
          margin: 0 auto;
          line-height: 1;
          --textShadow: #c1c1c182;

          &.green {
            color: var(--green);
            transform: translateX(-0.7em);
            text-shadow: -6px -4px 0px var(--textShadow);
          }

          &.orange {
            color: var(--orange);
            transform: translateX(1.71em);
            text-shadow: -6px 4px 0px var(--textShadow);
          }

          &.blue {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 12px;
            color: var(--blue);
            transform: translateX(-1.47em);
            text-shadow: -4px -6px 0px var(--textShadow);
          }

          &.pink {
            position: relative;
            width: 0.8em;
            aspect-ratio: 1;
            svg {
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              fill: var(--pink);
            }

            svg:nth-child(2) {
              left: -6px;
              top: -4px;
              fill: var(--textShadow);
              z-index: -1;
            }
          }
        }

        @media (max-width: 992px) {
          font-size: 60px;
        }

        @media (max-width: 768px) {
          font-size: 36px;
        }
      }

      .event-date {
        margin-top: 40px;
        font-weight: 600;
        font-size: 32px;
        p {
          text-align: center;
        }

        @media (max-width: 768px) {
          font-size: 24px;
        }
      }
    }

    .card-background {
      --border-height: 12px;
      height: max-content;
      width: 100%;
      background-color: #171c3e;
      clip-path: ellipse(133% 100% at 40% 100%);

      position: relative;
      padding: 8% 10%;
      border-bottom: var(--border-height) solid #9e9e9e;

      &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: var(--border-height);

        background-image: linear-gradient(
          to right,
          #e4e4e4 60%,
          rgba(255, 255, 255, 0) 0%
        );
        top: calc(100% + var(--border-height) / 2);
        right: 0;

        background-size: 12px 2px;
        background-repeat: repeat-x;

        animation: scrollBackground linear both;
        animation-timeline: scroll(block root);
      }

      @keyframes scrollBackground {
        0% {
          background-position: 0% 0%;
        }
        100% {
          background-position: 12% 0%;
        }
      }

      &::before {
        content: "";
        position: absolute;

        width: 100%;
        height: 100%;
        top: 0;
        right: 0;
        opacity: 0.3;
        z-index: -1;

        background: linear-gradient(
            122deg,
            black 0%,
            rgba(0, 0, 0, 0.8) 30%,
            transparent 100%
          ),
          var(--optimizedRS24URLDesktop);
        background-size: 128%;
        background-position: center;

        clip-path: ellipse(133% 100% at 40% 100%);
        filter: grayscale(1);
      }

      .description-container {
        max-width: var(--max-container-width);
        margin: auto;

        .event-description {
          color: white;
          font-weight: 400;
          font-size: 16px;
          max-width: 64%;
          line-height: 1.5rem;

          @media screen and (max-width: 768px) {
            max-width: 95%;
          }
          @media screen and (max-width: 576px) {
            padding-top: 24px;
          }
        }
        .title-container {
          margin-top: 40px;
        }
      }

      .sponsors-container {
        display: flex;
        flex-wrap: wrap;
        row-gap: 0px;
        column-gap: 32px;

        .sponsor-logo {
          filter: brightness(0) invert(1);
          object-fit: contain;
          height: 48px;
          max-width: 300px;
          width: auto;

          &.organizer {
            height: 65px;
          }

          &.wix {
            transform: translateY(6px);
          }
        }
      }

      @media (max-width: 768px) {
        &::before {
          background-image: var(--optimizedRS24URLMobile);
          background-repeat: no-repeat;
          background-size: cover;
        }
      }
    }
  }

  .hero-btn-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    margin-top: 60px;

    @media (max-width: 768px) {
      gap: 20px;
    }
  }

  .hero-btn {
    position: relative;
    border: none;
    width: 286px;
    align-self: center;
    justify-self: center;
    border-radius: 50px;

    background-color: #e75a80;
    cursor: pointer;
    box-shadow: 4px 4px 0px #c1c1c182;
    transition: all 0.15s ease-in;

    .wave,
    .wave:before,
    .wave:after {
      opacity: 1;
      transition: all 0.15s ease-in;
    }

    &:hover {
      .wave {
        opacity: 0;
      }
    }

    &.speaker {
      background-color: var(--orange);

      .wave {
        background-color: #fa744d;
        &::after,
        &::before {
          background-color: var(--orange);
        }
      }
    }

    .wave {
      position: absolute;
      background-color: #d95579;
      border-radius: 30px 30px 0;
      width: 50%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: 1;

      // TODO - improve wave
      &::after {
        content: "";
        content: "";
        position: absolute;
        width: 17px;
        height: 100%;
        right: 0px;
        top: 0px;
        background-color: #e75a80;
        border-radius: 0px 500%;
        rotate: -2deg;
      }
      &::before {
        content: "";
        content: "";
        position: absolute;
        width: 17px;
        height: 100%;
        right: -5px;
        top: 0px;
        background-color: #e75a80;
        border-radius: 0px 500%;
        rotate: -2deg;
      }
    }

    button {
      color: white;
      background: none;
      border: none;
      cursor: pointer;
      font-size: 18px;
      pointer-events: all;

      font-weight: bold;
      padding: 10px 32px;
      margin: auto;
      display: block;

      position: relative;
      z-index: 2;

      border-right: 3px solid white;
      border-left: 3px solid white;
    }
  }
</style>
