---
import Title from "./title.astro";
import Asterisk from "../assets/asterisk.svg";

import rs24Image from "../assets/reversim24-image.png";
import { getImage, Image } from "astro:assets";
import { getSponsors } from "../helpers/getSponsors";

const optimizedRS24ImageMobile = await getImage({
  src: rs24Image,
  width: 1280,
});
const optimizedRS24ImageDesktop = await getImage({
  src: rs24Image,
  width: 1920,
});

const sponsors = await getSponsors();

const cssVars = `
.card-background {
    --optimizedRS24URLMobile: url(${optimizedRS24ImageMobile.src});
    --optimizedRS24URLDesktop: url(${optimizedRS24ImageDesktop.src})
    }`;
---

<script src="https://flackr.github.io/scroll-timeline/dist/scroll-timeline.js"
></script>
<div class="main-banner">
  <div class="hero-container">
    <div class="title-container">
      <h2 class="title green">REVERSIM</h2>
      <h2 class="title orange">AUTUMN</h2>
      <h2 class="title blue">SUMMIT<p class="title pink"><Asterisk /></p></h2>
    </div>
    <div class="event-date">
      <p>October 27-28, 2025</p>
    </div>
    <div class="hero-btn-container">
      <a
        class="hero-btn speaker"
        target="_blank"
        href="https://sessionize.com/reversim-summit-2025/"
      >
        <button> Become a Speaker! </button>
        <div class="wave"></div>
      </a>
      <a
        class="hero-btn sponsor"
        target="_blank"
        href="https://forms.gle/QKgb1uESmPQxAVA39"
      >
        <button> Become a Sponsor! </button>
        <div class="wave"></div>
      </a>
    </div>
  </div>

  <div class="sponsors card-background card">
    <div class="description-container">
      <p class="event-description" id="about">
        Reversim Summit 2025 (RS25) is a community driven event in Israel for
        software developers, product managers, data scientists and everyone else
        in the software industry. With an enthusiastic team of volunteers we've
        been creating a content-first software conferences since 2013 and
        successfully leading the market. Reversim Summit (RS) is not for profit
        and its sole purpose is to enrich the community with content and
        networking. We are grateful to have such an excellent top of the
        industry team of volunteer moderators and event organizers.
      </p>
      <Title style="margin: 25px 0 30px" title="Sponsors" id="sponsors" />
      <!-- <a data-astro-prefetch href={`/sponsors/teads`} class="member"> -->
      <div class="sponsors-container">
        {
          sponsors.map((sponsor) => (
            <a href={`/sponsors/${sponsor.slug}`}>
              <Image
                class={`sponsor-logo ${sponsor.slug}`}
                src={sponsor.companyNameLogo}
                width={400}
                height={1000}
                alt={`Sponsor ${sponsor.companyName}`}
              />
            </a>
          ))
        }
      </div>
    </div>
  </div>
</div>

<style set:html={cssVars}></style>

<style lang="scss">
  .main-banner {
    .hero-container {
      position: relative;
      padding: 40px 10% 100px;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .title-container {
        font-size: 80px;
        font-weight: 700;
        .title {
          width: max-content;
          font-size: 1em;
          font-weight: inherit;
          margin: 0 auto;
          line-height: 1;

          &.green {
            color: var(--green);
            transform: translateX(-0.7em);
          }
          &.orange {
            color: var(--orange);
            transform: translateX(1.71em);
          }
          &.blue {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 12px;
            color: var(--blue);
            transform: translateX(-1.47em);
          }
          &.pink {
            width: 0.8em;
            svg {
              fill: var(--pink);
            }
          }
        }

        @media (max-width: 992px) {
          font-size: 60px;
        }

        @media (max-width: 768px) {
          font-size: 36px;
        }
      }

      .event-date {
        margin-top: 40px;
        font-weight: 600;
        font-size: 32px;
        p {
          text-align: center;
          text-shadow: 1px 1px 3px grey;
        }

        @media (max-width: 768px) {
          font-size: 24px;
        }
      }
    }

    .card-background {
      --border-height: 12px;
      height: max-content;
      width: 100%;
      background-color: #171c3e;
      clip-path: ellipse(133% 100% at 40% 100%);

      position: relative;
      padding: 8% 10%;
      border-bottom: var(--border-height) solid #9e9e9e;

      &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: var(--border-height);

        background-image: linear-gradient(
          to right,
          #e4e4e4 60%,
          rgba(255, 255, 255, 0) 0%
        );
        top: calc(100% + var(--border-height) / 2);
        right: 0;

        background-size: 12px 2px;
        background-repeat: repeat-x;

        animation: scrollBackground linear both;
        animation-timeline: scroll(block root);
      }

      @keyframes scrollBackground {
        0% {
          background-position: 0% 0%;
        }
        100% {
          background-position: 12% 0%;
        }
      }

      &::before {
        content: "";
        position: absolute;

        width: 100%;
        height: 100%;
        top: 0;
        right: 0;
        opacity: 0.3;
        z-index: -1;

        background: linear-gradient(
            122deg,
            black 0%,
            rgba(0, 0, 0, 0.8) 30%,
            transparent 100%
          ),
          var(--optimizedRS24URLDesktop);
        background-size: 128%;
        background-position: center;

        clip-path: ellipse(133% 100% at 40% 100%);
        filter: grayscale(1);
      }

      .description-container {
        max-width: var(--max-container-width);
        margin: auto;

        .event-description {
          color: white;
          font-weight: 400;
          font-size: 16px;
          max-width: 64%;
          line-height: 1.5rem;

          @media screen and (max-width: 768px) {
            max-width: 95%;
          }
          @media screen and (max-width: 576px) {
            padding-top: 24px;
          }
        }
        .title-container {
          margin-top: 40px;
        }
      }

      .sponsors-container {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;

        .sponsor-logo {
          margin: 12px 0;
          object-fit: contain;
          height: 60px;
          max-width: 300px;
          width: 180px;
        }
      }

      @media (max-width: 768px) {
        &::before {
          background-image: var(--optimizedRS24URLMobile);
          background-repeat: no-repeat;
          background-size: cover;
        }
      }
    }
  }

  .hero-btn-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    margin-top: 60px;

    @media (max-width: 768px) {
      gap: 20px;
    }
  }

  .hero-btn {
    position: relative;
    border: none;
    width: 286px;
    align-self: center;
    justify-self: center;
    border-radius: 50px;

    background-color: #e75a80;
    cursor: pointer;
    box-shadow: 4px 4px 5px #aaaeaf;
    transition: all 0.15s ease-in;

    .wave,
    .wave:before,
    .wave:after {
      opacity: 1;
      transition: all 0.15s ease-in;
    }

    &:hover {
      .wave {
        opacity: 0;
      }
    }

    &.speaker {
      background-color: var(--orange);

      .wave {
        background-color: #fa744d;
        &::after,
        &::before {
          background-color: var(--orange);
        }
      }
    }

    .wave {
      position: absolute;
      background-color: #d95579;
      border-radius: 30px 30px 0;
      width: 50%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: 1;

      // TODO - improve wave
      &::after {
        content: "";
        content: "";
        position: absolute;
        width: 17px;
        height: 100%;
        right: 0px;
        top: 0px;
        background-color: #e75a80;
        border-radius: 0px 500%;
        rotate: -2deg;
      }
      &::before {
        content: "";
        content: "";
        position: absolute;
        width: 17px;
        height: 100%;
        right: -5px;
        top: 0px;
        background-color: #e75a80;
        border-radius: 0px 500%;
        rotate: -2deg;
      }
    }

    button {
      color: white;
      background: none;
      border: none;
      cursor: pointer;
      font-size: 18px;

      font-weight: bold;
      padding: 10px 32px;
      margin: auto;
      display: block;

      position: relative;
      z-index: 2;

      border-right: 3px solid white;
      border-left: 3px solid white;
    }
  }
</style>
