---
import { Image } from "astro:assets";
import type { teamMember } from "../helpers/getTeam";
import type { ImageFunction } from "astro:content";

interface Props extends teamMember {}

const { company, name, title, image, slug } = Astro.props;
---

<a data-astro-prefetch href={`/about/${slug}`} class="member">
  <div class="image-container">
    <Image class="image" alt={name} src={image} width="240" height="240" />
  </div>
  <h3 class="name">{name}</h3>
  <span class="title">{title}{" "}{company ? `@${company}` : ""}</span>
</a>

<style lang="scss">
  h3,
  p {
    margin: 0;
    text-align: center;
  }

  .member {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    flex: 1;
    position: relative;
    color: black;
    gap: 4px;
    &:hover {
      .image {
        border-color: #1f1747ca;
      }
    }
    .image-container {
      width: 120px;
      height: 120px;
      transition: 0.3s;
      margin-bottom: 5px;
      position: relative;

      .image {
        width: 100%;
        height: 100%;
        border-radius: 16% 0 0 0;
        object-fit: cover;
      }
    }

    .name {
      font-size: 16px;
    }

    .title {
      font-size: 12px;
      font-weight: 500;
      text-align: center;
    }

    @media screen and (max-width: 576px) {
      min-height: auto;

      .image {
        width: 60%;
        aspect-ratio: 1 / 1;
        height: auto;
      }
    }
  }
</style>
