---
import { Image } from "astro:assets";
import SocialLink from "./socialLink.astro";
import type { teamMember } from "../helpers/getTeam";
import BackButton from "./backButton.astro";

interface Props extends Partial<teamMember> {
  socialList: Record<string, string | undefined>;
}

const { socialList, name, image, title, company, bio } = Astro.props;
---

<div class="main-container">
  <BackButton />

  <div class="person-info">
    <div class="media-socials-container">
      <Image src={image} alt={name || ""} width="500" height={"500"} />
      <div class="links">
        {
          Object.entries(socialList).map(([social, link]) => {
            return <SocialLink type={social} link={link || ""} />;
          })
        }
      </div>
    </div>
    <div class="info-container">
      <h3 class="name">{name}</h3>
      <p class="title">{title}</p>
      {company && <p class="company">{company}</p>}
      <p class="bio">{bio}</p>
    </div>
  </div>
</div>

<style lang="scss">
  .main-container {
    display: flex;
    flex-direction: column;
    gap: 24px;

    .person-info {
      display: flex;
      flex-wrap: wrap;
      gap: 42px;
    }
    .media-socials-container {
      display: flex;
      flex-direction: column;

      img {
        border-radius: 50%;
        width: 250px;
        height: 250px;
        object-fit: cover;
      }

      .links {
        margin-top: 6px;
        display: flex;
        justify-content: center;
        gap: 8px;
      }
    }

    .info-container {
      font-size: 16px;
      flex: 1;
      min-width: 300px;
      padding-top: 32px;

      .name {
        font-size: 28px;
        font-weight: 100;
      }

      .title {
        margin: 2px 0 8px;
      }
      .company {
        margin-bottom: 12px;
      }
      .bio {
        font-size: 14px;
      }
    }
  }
</style>
