---
interface Props {
  title: string;
  titleColor?: string;
  style?: string;
  type?: "sponsor-large" | "sponsor-medium" | "default";
  id?: string;
}

const { title, titleColor, style, id, type = "default" } = Astro.props;
---

<a class="title-container" href={id ? `#${id}` : undefined}>
  <h3
    style={`color:${titleColor || "white"}; ${style}`}
    class={`title-text ${type}`}
    id={id}
  >
    {title}
  </h3>
</a>

<style lang="scss">
  .title-container {
    font-size: 32px;

    .title-text {
      position: relative;
      width: 46%;
      margin: 100px 0 60px;

      background-image: linear-gradient(
        to right,
        #8faad6 60%,
        rgba(255, 255, 255, 0) 0%
      );
      background-position: left 0 bottom 2px;
      background-size: 20px 3px;
      background-repeat: repeat-x;

      &::before {
        content: "";
        position: absolute;
        width: 0.7em;
        aspect-ratio: 1;
        border-radius: 50%;
        background-color: #8faad6;
        top: 100%;
        right: 0;

        transform: translate(50%, calc(-50% - 1.5px));
      }

      &.sponsor-large,
      &.sponsor-medium {
        margin: 40px 0 16px 0;
        color: #b3b4c3;
        font-weight: 600;
      }
      &.sponsor-medium {
        font-size: 0.9em;
      }
    }

    @media screen and (max-width: 1100px) {
      .title-text {
        &.sponsor-medium {
          font-size: 0.8em;
        }
      }
    }

    @media screen and (max-width: 992px) {
      .title-text {
        font-size: 0.9em;
      }
    }

    @media screen and (max-width: 768px) {
      font-size: 24px;
      .title-text {
        width: 100%;

        &::before {
          width: 0.6em;
          transform: translate(50%, calc(-50% - 3.5px));
        }
      }
    }
  }
</style>
