---
import type { GetStaticPaths } from "astro";
import { getImage } from "astro:assets";
import TeamMemberPage from "../../components/teamMemberPage.astro";
import { getSpeakers } from "../../helpers/getSpeakers";
import { supportedSocials } from "../../helpers/supportedSocials";
import Layout from "../../layouts/Layout.astro";
import slugify from "slug";

export const getStaticPaths = (async () => {
  const speakers = await getSpeakers();

  return speakers.map((speaker) => ({
    params: {
      speaker: speaker.slug,
    },
    props: { ...speaker },
  }));
}) satisfies GetStaticPaths;

const {
  firstName,
  fullName,
  id,
  isTopSpeaker,
  lastName,
  profilePicture,
  slug,
  tagLine,
  bio,
  links,
  sessions,
} = Astro.props;

const socialLinks: Record<string, string> = {};

links.map((link) => {
  let finalLink = link.linkType.toLowerCase();

  if (finalLink === "blog") {
    finalLink = link.url.includes("medium")
      ? supportedSocials.medium
      : supportedSocials.website;
  }

  socialLinks[finalLink] = link.url;
});

const image = await getImage({ src: profilePicture, height: 500, width: 500 });
---

<Layout>
  <TeamMemberPage
    socialList={socialLinks}
    name={fullName}
    image={image.src}
    title={tagLine}
    bio={bio}
  />

  <div class="talks-container">
    <h3 class="talks-title">Talks:</h3>

    {
      sessions.map((talk) => {
        return <a href={`/talks/${slugify(talk.name)}`} class="talk-name">{talk.name}</a>;
      })
    }
  </div>
</Layout>

<style lang="scss">
  .talks-container {
    margin-top: 60px;

    .talk-name {
      display: block;
      padding-top: 8px;

      &:hover{
        text-decoration: underline;
      }
    }
  }
</style>
